.select__block {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
    .select__block {
        flex-direction: column;
    }
}

.select__title {
    font-size: 20px;
    margin: 0;
}
