.requirements {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0 10px 10px;
    justify-content: center;
    margin: 0 0 50px;
}

.requirements__title {
    font-size: 25px;
}

@media screen and (max-width: 510px) {
    .requirements__title {
        text-align: center;
        max-width: 95vw;
    }
}

@media screen and (max-width: 420px) {
    .requirements__title {
        font-size: 22px;
    }
}
